<div class="pb-16 text-center">
    <div class="text-xs font-bold uppercase text-gray-600 space-x-3">
        <a class="hover:bg-gray-300 p-2 rounded {{ url == '/' ? 'bg-blue-200' : '' }}" href="/">Homepage</a>
        <a class="hover:bg-gray-300 p-2 rounded {{ url == '/two' ? 'bg-blue-200' : '' }}" href="/two">Page Two</a>
        <a class="hover:bg-gray-300 p-2 rounded {{ url == '/test' ? 'bg-blue-200' : '' }}" href="/test">Test</a>
        <a class="hover:bg-gray-300 p-2 rounded {{ url == '/404' ? 'bg-blue-200' : '' }}" href="/404">404</a>
    </div>
</div>
